.index-body {
    font-family: Arial, sans-serif;
    color: #2c3e50; 
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    background-color: #e7cdab;
    padding: 5px 0;
    justify-content: space-between;
    align-items: center;
    position: flex; 
    top: 0;
    z-index: 1000;
    font-weight:bold;
    display:flex;
}

.nav-logo img {
    width:70px;
    height:70px;
}

.nav-menu {
    list-style: none;
    align-items: center;
    margin:0;
    padding:0;
}

.nav-menu li {
    margin-left: 20px;
    display:inline-block;
}

.nav-menu li a {
    color: brown;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    transition: background 0.3s ease;
}

.nav-menu li a:hover {
    background-color:#f8e5cb; 
    border-radius: 4px;
    transition:0.2s; 
}

@media (max-width: 500px) {
    .navbar {
        flex-direction: column; 
        align-items: center; 
        padding: 10px; 
    }

    .nav-menu li {
        margin-left: 0; 
        margin: 10px 0; 
    }
}

.nav-dropdown-content {
    display: none;
    position: absolute;
    background-color:#e7cdab; 
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    font-weight:normal;
}

.nav-dropdown-content a {
    color: brown; 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav-dropdown-content a:hover {
    background-color:#f8e5cb;
    transition:0.2s; 
}

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#e7cdab; 
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    font-weight:normal;
}

.dropdown-content a {
    color: brown; 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color:#f8e5cb;
    transition:0.2s; 
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#e7cdab; 
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    font-weight:normal;
}

.dropdown-content a {
    color: brown; 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color:#f8e5cb;
    transition:0.2s; 
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* START OF PRODUCT CSS */

.product_sidebar {
    min-height: 100vh;
    background-color: #f8e5cb;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center;
    color:brown; 
    padding: 40px 60px 80px 60px;
    box-sizing: border-box;
    margin-top: -40px;
}

@media screen and (max-width: 700px) {

    .product_sidebar {
        gap: 10px;
        padding: 20px;
    }

    .product_nav, .product_menu {
        width: 100vw;
    }
}

.product_nav {
    width: 30vw;
    height: 100%;
    position: relative;
    justify-content: flex-start;
    margin: 0px 15px 30px 0px;
    float: left;
}

.product_nav p {
    font-size: 2.25rem;
    text-align: left;
    font-weight: bold;
    margin-bottom: 30px;
}

.product_selection {
    text-align: left;
    list-style-type: none;
}

.product_selection li {
    width: 70%;
    box-shadow: 0px 0px 10px grey;
    background-color: #e7cdab;
    line-height: 60px;
    row-gap: 20px;
    display: flex;
    margin-bottom: 24px;
    justify-content: space-between;
    transform: translate(0px);
    transition: 1.0s;
}

.product_selection a {
    font-size:  1.5rem;
    text-decoration: none;
    color: brown;
    font-family: Arial, sans-serif;
    width: 100%;
}

#target_page {
    font-weight: bold;
    box-shadow: 7px 7px 10px 1px grey;
}


@media screen and (max-width: 700px) {
    .product_nav {
        width: auto;
        margin: 0px;
        padding: 0px;
    }

    .product_selection a {
        font-size: 1.5rem;
        max-width: 40vw;
        display: inline-block;
    }

    .product_selection li {
        margin-bottom: 20px;
        padding: 10px 25px;
        font-size: 12px;
        line-height: 50px;
        transform: none;
        width: 40vw;
    }

    .product_selection p {
        min-width: 100vw;
        text-align: center;
    }
}

.product_selection li:hover {
    background-color: #e7cdab;
    transform: translate(70px);
    transition: 0.9s;
    cursor: pointer;
}

.product_extra {
    width: 90%;
    border-radius: 8px;
    max-width: 400px;
    padding: 10px;
    margin: 10px 0;
}

.product_extra li {
    font-size: 18px;
    list-style-type: none;
    text-align: left;
    float: left;
    display: flex;
    border-bottom: 50px;
}

.product_menu {
    width: 60%;
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: right;
}

.product_menu img {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
    margin-top: 20px;
}

@media screen and (max-width: 700px) {

    .product_menu {
        width: 100vw;
        max-height: auto;
        justify-content: center;
    }
}

.product_menu img:hover {
    opacity: 0.8;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.75s; 
    transform: scale(1.2);
    justify-content: flex-start;
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.4); 
    cursor: pointer;
}

.product_menu h2 {
    font-size: 16.5px;
    text-align: center;
}

.product_menu h3 {
    font-size: 20px;
    text-align: center;
}

.product_menu hr{
    width: 220px;
    margin: auto;
}

.product_details {
    min-height: 20vh;
    background-color: #e7cdab;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center;
    color:brown; 
    box-sizing: border-box;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.80);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.pop_up {
    animation: animation3 2s ease-in-out 0s 1 normal none;
}

@keyframes animation3 {
    0%   { opacity: 0.00;}
    100% { opacity: 1.00;}    
}

.pop_up {
    background: #f8e5cb;
    padding: 20px;
    border-radius: 30px;
    width: 40%;
    height: 80%;
    font-size: 0.85em;
    opacity: 1.0;

}

.pop_up img {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 20px;
}

@media screen and (max-width: 700px) {
    .product_details{
        width: auto;
    }

    .overlay{
        width: 100%;
    }

    .pop_up {
        max-width: 80vw;
        height: 90%;
        line-height: 0.75 rem;
    }

    .pop_up h1 {
        line-height: 1.5rem;
    }

    .pop_up img {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
    }
}

.overlay:target {
    display: flex;
    transition-delay: 3.6s;
}

.close-button {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 10px;
    right: 10px;
    background: none;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
}


/* END OF PRODUCT CSS */

.footer_container{
    max-width: 1170px;
    max-height: 430px;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.footer_container img{
   margin-top: -8%;
    width: 15%;
    height: 15%;
}

ul{
    list-style: none;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    size: 100%;
    background-color: #e7cdab;
    color: brown;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 10px;
}

.footer-col h4 {
    font-size: 16px;
    color: brown;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: brown;
    height: 0.8px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: brown;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.2s ease;
}

.footer-col ul li a:hover {
    color: #ff0000;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: brown;
    transition: all 0.5s;
}

.footer-col .whatsapp a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: brown;
    transition: all 0.5s;
}

.social-links a:hover {
    background-color: #a52a2a;
    color: #fff;
}

.whatsapp a:hover {
    background-color: #a52a2a;
    color: #fff;
}

h4 a:hover{
    color: #ff0000;
}

footer a {
    color: brown;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}




